* {
    font-family: "Viaoda Libre";
    margin-right: 10px;
    margin-left: 10px;
}

header {
    display: flex;
    background-color: #162028;
    height: 70px;
    justify-content: space-between;
}

header h1 {
    color: white;
}

.nav-header li {
    list-style: none;
    margin-right: 50px;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #425564;
}

.titulo-header {
    margin-left: 300px;
    align-items: center;
    margin-top: 30px;
    display: flex;
}

.nav-header {
    display: flex;
    align-items: center;
}

.imagem-header {
    width: 1823px;
}

.mostrando {
    text-align: center;
    color: #555;
    justify-content: center;
}

.mostrando h1 {
    font-size: 60px;
}

.paragrafo-mostrando {
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    align-items: center;
}

.paragrafo-mostrando p {
    font-size: 20px;
}

.full-box {
    display: flex;
    justify-content: center;
    margin: 90px;
}

.box-mostrando {
    margin-left: 80px;
}

.tela-azul {
    background-image: url(/imagens/bg_detalhe.png);
    background-size: cover;
    width: 1823px;
    height: 868.77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tela-azul h1 {
    color: white;
    font-size: 50px;
}

.tela-azul p {
    color: white;
}

.informacoes-tela-azul {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes-tela-azul h1 {
    text-align: start;
    width: 65%;
}

.informacoes-tela-azul p {
    width: 65%;
    text-align: start;
    font-size: larger;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b171f;
    width: 1823px;
    height: 60px;
}

.footer p {
    color: #6f8597;
    letter-spacing: 1.5px;
}
